<div class="container-fluid">
    <div class="row home">
      <div class="col d-flex pic">
        <img src="../../assets/pictures/home9.jpg" alt="img">
        <h1 class="cent">Are you confused How to grow a plant???</h1>
        <h2 class="cent1">We're here to teach you!!!</h2>
        
          <button class="btn btn-danger cent2 ">Explore here</button>
      </div>
      <div class="col word">
        
        <img src="../../assets/pictures/home7.jpg" alt="img">
  
  
      </div>
      <div class="container-fluid">
        <div class="row">
          <img src="../../assets/pictures/decor.jpg" alt="img" width="500px" height="500px">

        </div>

      </div>
    </div>
  </div>