body{
    margin: none;
    padding: 0px;   
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Lobster', cursive;
    width: 100%;
    
    background-color: #e1e1df ;
}
a.focus,a:hover{
    text-decoration: none;
}
nav a:hover{
    color: rgb(232, 248, 232);
    background-color: #006A71;
}
nav{
    margin: none;padding: 0px;
    overflow: hidden;   
    background-color: #006A71;
}
.lists{
    float: right; 
    padding:0px 30px;
    
}
.lists li{
    padding-right: 3em;
   font-size: 2.5rem;
   font-weight: 400;

}
.search{
width: fit-content;
}
.navbar{
    border-radius: 0px;
    margin: -1px;
    font-family: 'Birthstone Bounce', cursive;
}
.navbar-brand{
    font-weight: 400;
    font-size: 3rem;
}
.navbar-light .navbar-nav{
    /* color: rgb(19, 61, 19); */
    color: #fff;
    
}

/* home page style */
.pic img{
    margin: -10px;
    height: 700px;
   
}

.word img{
    margin: -10px;
    float: right;
    height: 700px;
    width: fit-content;
   

}
.confused{
    position: relative;
    margin-top:-60rem;
    margin-left: 16rem;
    
}
.cent1{
    position: absolute;
   
}
.cent2{
    font-size: 2rem;
    position: absolute;
    border-color:#006A71 ;
    background-color: #006A71;
    margin-top: 80px;
    
}
.cent{
    height: fit-content;
    position: relative;
    padding-top: 5rem ;
    width: 500px;
    color:#3c6e39;
}
.content{
    margin: 0px;
    padding: 0px;
}
.decor{
    background-color: rgb(96, 168, 96);
    padding: 40px;
}
.decor p{
   
    padding: 40px;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.616);
}

.decor-pic{
    width:510px;
     height:500px; 
     margin-left:-10px;
}
.veg{
    padding: 5rem;
    font-size: 2.5rem;   
     color: indianred;
     background-color: rgb(238, 230, 158);

}
.veg-pic{
    width:fit-content; height:410px;
    margin-left: -10px;
    margin-right: -10px;
}
.veg p,.fruit p{
    color: rgb(49, 48, 48);
    padding: 40px;
}
.flower{
    background-color: rgb(247, 167, 167);
    padding: 40px;
}
.flower p{
    font-size: 2.5rem;
    padding: 40px;
    color: rgb(229, 240, 240);

}
.flower-pic{
    width:520px; height:500px; margin-left:-20px;
}
.fruit{
    padding: 5rem;
    font-size: 2.5rem;   
    background-color: rgb(144, 236, 205);
    color: maroon;
}
.fruit-pic{
    width:520px;height:450px;margin-left:-10px;
}
.icon{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    padding-left: 60px;
}

.icons{
    color: black;
    font-size: 2.5rem;
}
.decor a:hover{  
    color: #e1e1df;
    background-color:none ;
  
}
@media only screen and (max-width: 600px) {
    .confused{
       
        margin-top:-80rem;
        margin-left: 10rem;
        
    }
    .pic img{
        
        height: 200px;
        width: 100px;
       
    }
    
    .word img{
        
       display: none;
        height: 700px;
        width: fit-content;
       
    
    }
    
    .cent1{
        position: absolute;
       
    }
    .cent2{
        font-size: 2rem;
        position: absolute;
        border-color:#006A71 ;
        background-color: #006A71;
        margin-top: 80px;
        
    }
    .cent{
        height: fit-content;
        position: relative;
        padding-top: 5rem ;
        width: 500px;
        color:#3c6e39;
    }

  }
    



