body{
    margin: none;padding: 0px;   
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Lobster', cursive;
    height: auto;
    overflow: hidden;
    background-color: #e1e1df ;
}
a.focus,a:hover{
    text-decoration: none;
}
a:hover{
    color: rgb(232, 248, 232);
    background-color: #006A71;
}
nav{
    margin: none;padding: 0px;
    overflow: hidden;   
    background-color: #006A71;


}
.lists{
    float: right; 
    padding:0px 30px;
    
}
.lists li{
    padding-right: 3em;
   font-size: 2.5rem;
   font-weight: 400;

}
.search{
width: fit-content;
}
.navbar{
    border-radius: 0px;
    margin: -1px;
    font-family: 'Birthstone Bounce', cursive;
}
.navbar-brand{
    font-weight: 400;
    font-size: 3rem;
}
.navbar-light .navbar-nav{

    /* color: rgb(19, 61, 19); */
    color: #fff;
    
}
.pic img{
    margin: -10px;
    height: 690px;
    overflow: hidden;
}
.word img{
    margin: -10px;
    float: right;
    height: 680px;
    overflow: hidden;

}
.cent1{
    margin: 29rem;
    margin-left: 40rem;
    position: absolute;
    padding: 5rem;
}
.cent2{
    font-size: 2rem;
    margin: 43rem;
    margin-left: 53rem;
    position: absolute;
    padding: 10px;
    border-color:#006A71 ;
    background-color: #006A71;
    
}
.cent{
    height: fit-content;
    position: relative;
    padding-top: 5em ;
    width: 500px;
    color:#3c6e39;
}
.decor{
    background-color: rgb(96, 168, 96);
    padding: 40px;
}
.decor p{
   
    padding: 40px;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.616);
}
.decor img{
    background-color:rgb(96, 168, 96) ;
    float: right;
    margin-top: -69px ;
    margin-left: -40px;
}
.veg{
    padding: 5rem;
    font-size: 2.2rem;   
     color: indianred;
     background-color: rgb(238, 230, 158);

}
.veg p,.fruit p{
    color: #000;
}
.flower{
    background-color: rgb(247, 167, 167);
    padding: 40px;
}
.flower p{
    font-size: 2.5rem;
    /* color: rgb(229, 240, 240); */

}
.fruit{
    padding: 5rem;
    font-size: 2.2rem;   
    background-color: rgb(144, 236, 205);
    color: maroon;
}
.icon{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    padding-left: 60px;
}
.icon:hover{
    background-color:rgb(96, 168, 96) ;
}
.icons{
    color: black;
    font-size: 2.5rem;
}